# === LETSENCRYPT CONFIGURATION ===
SYNAPSE_SERVER_NAME=matrix.example.com

# Virtual host domain for nginx-proxy
VIRTUAL_PORT=8008
VIRTUAL_HOST=matrix.example.com

# Let's Encrypt SSL certificate domain
LETSENCRYPT_HOST=matrix.example.com

# Email for Let's Encrypt certificate registration
LETSENCRYPT_EMAIL=serg.shehov@tutanota.com