# === STEP CA CONFIGURATION ===
SYNAPSE_SERVER_NAME=matrix.local

# Virtual host domain for nginx-proxy
VIRTUAL_PORT=8008
VIRTUAL_HOST=matrix.local

# Step CA SSL certificate domain
LETSENCRYPT_HOST=matrix.local

# Email for Step CA certificate registration
LETSENCRYPT_EMAIL=john.smith@mail.com